<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NezurAimbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UniversalRobloxAimbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NezurAimbot.Properties.Settings>
            <setting name="Fov_Size" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="AimAssist_Smoothness" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Y_Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X_Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Trigger_Delay" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AI_Confidence" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Current_Binding" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="Theme_Color" serializeAs="String">
                <value>#dde6e8</value>
            </setting>
            <setting name="AutoClickerDelay" serializeAs="String">
                <value>1</value>
            </setting>
        </NezurAimbot.Properties.Settings>
        <UniversalRobloxAimbot.Properties.Settings>
            <setting name="Fov_Size" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="AimAssist_Smoothness" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Y_Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X_Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Trigger_Delay" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AI_Confidence" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Current_Binding" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="Theme_Color" serializeAs="String">
                <value>#dde6e8</value>
            </setting>
        </UniversalRobloxAimbot.Properties.Settings>
    </userSettings>
</configuration>